<main class="main">
  <div class="content">
    <div class="left-side">
      <!-- displat the #home -->
      <ng-container *ngTemplateOutlet="home"></ng-container>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <!-- <button (click)="toggleTheme()">Toggle Theme</button> -->
        <a class="pill" routerLink="/🏡">
          <span>🏡</span>
        </a>
        <a class="pill" routerLink="/settings">
          <span>settings</span>
        </a>
        <a class="pill" routerLink="/content">
          <span>Content</span>
        </a>
      </div>
      <div class="social-links">
        <a href="https://github.com" aria-label="Github" target="_blank" rel="noopener">
          <!-- Placeholder for GitHub icon -->
        </a>
        <a href="https://twitter.com" aria-label="Twitter" target="_blank" rel="noopener">
          <!-- Placeholder for Twitter icon -->
        </a>
        <a href="https://youtube.com" aria-label="Youtube" target="_blank" rel="noopener">
          <!-- Placeholder for YouTube icon -->
        </a>
      </div>
    </div>
  </div>


</main>

<router-outlet></router-outlet>

<ng-template #home>
  <app-sky>
    <h1>Welcome to BeVerse</h1>
    <p>🦫✨</p>
  </app-sky>
</ng-template>
